.vscode/
tests/elfs/
tests/lib/
tests/node_modules/
tests/snapshots-tmp/
tests/snapshots/ethereum_nanos_testing_dummy/
tests/src/networks/ethereum/*testing_dummy*.js
morpho-core-v1/
morpho-contracts/
bin/
debug/
dep/**
obj/
DS_Store/
**/.DS_Store
**.swp
Save*